<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    {% block stylesheets %}
    <link href="{{ asset('bundles/hrosurvey/css/style.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <title>{% if title is not defined %}Enquete systeem{% else %}{{title}}{% endif %}</title>
</head>
<body>
    <div id="wrapper">
        <div id="navigation">
            <a href="/">Home</a>&ensp;&mdash;&ensp;
            <a href="{{ path('survey_list') }}">Alle enquetes</a>&ensp;&mdash;&ensp;
            <a href="{{ path('survey_new') }}">Nieuwe enquete</a>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>