{% extends "HROSurveyBundle:Default:base.html.twig" %}

{% block content %}
<h1>Inloggen</h1>
{% if error %}
<div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <label for="username">gebruikersnaam:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" /><br />

    <label for="password">Wachtwoord:</label>
    <input type="password" id="password" name="_password" /><br />

    <button type="submit">Inloggen</button>
</form>

{% endblock %}