{% extends "HROSurveyBundle:Default:base.html.twig" %}

{% block content %}
<h1>Nieuwe enquete</h1>
<form action="{{ path('survey_edit', {'id': id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" value="Opslaan" />
</form>
{% endblock %}