{% extends "HROSurveyBundle:Default:base.html.twig" %}

{% block content %}
<h1>Enquetes</h1>
    {% if surveys is defined %}
    <ul>
        {% for survey in surveys %}
        <li><a href="{{ path('survey_show', { 'id': survey.id }) }}">{{survey.title}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}