{% extends "HROSurveyBundle:Default:base.html.twig" %}

{% block content %}

{# AUTHENTICATED USER#}
{% if is_granted("ROLE_USER") %}
    <h1>Enquete deelnames van {{ app.user.username }}</h1>

    {% if enrolled_surveys is defined %}
    <ul>
        {% for survey in enrolled_surveys %}
        <li><a href="{{ path('survey_show', { 'id': survey.id }) }}">{{survey.title}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <ul>
        <li>Geen deelnames</li>
    </ul>
    {% endif %}
    <h2>Overige enquetes</h2>
{% else %}
    <h2>Alle enquetes</h2>
{% endif %}

{% if not_enrolled_surveys is defined %}
<ul>
    {% for survey in not_enrolled_surveys %}
    <li>{{survey.title}}</li>
    {% endfor %}
</ul>
{% else %}
<ul>
    <li>Geen enquetes</li>
</ul>
{% endif %}

{% endblock %}